.home-container {
    padding: 20px;
    background-color: #f4811c;
    text-transform:uppercase;
  }

.container-api {
    text-align: center;
    margin-bottom: 40px;
    text-transform:uppercase;
  }

.container-h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform:uppercase;
  }
  
.content-container.vertical {
  margin-top: 40px; 
  text-align: center;
}
.titulo{
    font-size: 60px;
    text-transform:uppercase;
  }
.subtitulo{
  font-size: 30px;
  text-transform:uppercase;
}
.parrafo{
  font-size: 18px;
}
  .welcome-section {
    text-align: center;
    margin-bottom: 40px;
    text-transform:uppercase;
  }
  
  .welcome-section h1 {
    text-transform:uppercase;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .section {
    background-color: #f9f9f9;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(208, 10, 10, 0.1);
    width: 30%;
  }
  
  .benefits {
    background-color: #e9f7ef;
  }
  
  .contact {
    background-color: #f4811c;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
.goToShopButton {
  background-color: transparent;
  border: none; 
  cursor: pointer; 
  padding: 0;
}

.shopButtonImage {
  width: 100%; 
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shopButtonImage:hover {
  opacity: 0.8; 
}