.container {
  background-color: #f4811c;
    display: flex;
    justify-content: space-between;
    padding: 45px;
    text-align: center;
  }

  .colores-alertas {
    background-color: #f4811c !important; 
    color: #000000 !important; 
    border: none !important;
    border-radius: 5px !important;
    padding: 10px 15px !important;
    font-size: 16px !important;
    cursor: pointer !important;
  }
  
  .colores-alertas:hover {
    background-color: #ff8800 !important; 
    color: #ffffff !important;
  }
  
  
  .colores-alertas:hover {
    background-color: #ff8800; 
    color: #ffffff;
  }
  
  .productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    width: 65%; 
    margin-bottom: 20px;
  }
  .productCard {
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  .productImage {
    width: 80%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .addButton {
    background-color: #dc8b43f7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #dc8b43f7;
  }
  
  .cartContainer {
    width: 30%; 
    height: 20%;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 30px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    top: 10px;
    margin-top: 0; 
    margin-left: 20px; 
    transition: min-height 0.3s ease-in-out;
  }
  
  .cartContainer.empty {
    min-height: 100px; 
  }
  
  .cartItems {
    margin-bottom: 50px;
  }
  
  .cartItem {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .cartItemDetails {
    text-align: center;
    margin-bottom: 10px;
  }
  .quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px;
  }
  
  .quantityButton,
  .removeButton {
    background-color: #f7af5c;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .quantityButton:hover,
  .removeButton:hover {
    background-color:#f7af5c;
  }
  
  .checkoutButton {
    display: block;
    margin: 20px auto; 
    background-color: #f7af5c;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkoutButton:hover {
    background-color: #f7af5c;
  }
  